* {
  margin: 0;
  padding: 0;
}
.chat_wrap {
  background-color: rgb(186, 81, 64,0.5);
  background-size: 100% 100%;
  padding-top: 28px;
  padding-bottom: 30px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 3%;
}


#chat {
  border-radius: 12px;
  padding-top: 10px;
  padding-bottom: 20px;
  height: 600px;
  overflow-y: auto;
}

#chat .me {
  margin: 10px;
  margin-left: 30%;
  margin-right: 5%;
  text-align: right;
  position: relative;
}

#chat .me .qipao {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid;
  border-color: transparent transparent transparent #b2e281;
  right: -8px;
  top: 11px;
}

#chat .me div.item {
  display: inline-block;
  border-radius: 5px;
  padding: 7px;
  background: #b2e281;
}

#chat .robot {
  margin: 10px;
  margin-right: 30%;
  text-align: left;
  margin-left: 5%;
  position: relative;
}

#chat .robot .qipao {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid;
  border-color: transparent white transparent transparent;
  left: -8px;
  top: 11px;
}

#chat .robot div.item {
  display: inline-block;
  border-radius: 5px;
  padding: 7px;
  background: white;
}

#info {
  width: 300px;
  height: 44px;
  font-size: 30px;
  color: black;
  border-radius: 12px;
  margin-top: 10px;
  padding: 20px 0;
  background: none;
  display: inline;
}

#send {
  border: none;
  width: 75px;
  height: 46px;
  margin-top: 10px;
  padding: 20px 0;
  background-color: rgb(21, 170, 191,0.5);
  border-radius: 6%;
  display: inline;
}

.test-1::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 2px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;

}

.test-1::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #123488;
  opacity: 0.5;
}

.test-1::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #11446D;
  opacity: 0.5;
}